/**
 * Basic styling
 */
body {
  margin:0;
  font-family: "AvenirNextLTW01-Regular", "Avenir Next", sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; }

/**
 * Links
 */
a {
  color: #6DA39F;
  text-decoration: none; }
  a:hover {
     COLOR: #2A6B6A}