/** Basic styling **/
body {
  margin:0;
  font-family: "AvenirNextLTW01-Regular", "Avenir Next", sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; }

img {
    max-width: 110%;
    min-width: 110%;
    height:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left:-5%;
    /*border: 2px solid #DDDDDD;*/
    border-radius: 5px;
    -moz-box-shadow: 0 5px 5px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 5px 5px rgba(34,25,25,0.4);
    box-shadow: 0 5px 5px rgba(34,25,25,0.4);
}

a {
  color: #5B8B88;
  text-decoration: none; }
  a:hover {
      COLOR: #2A6B6A}


HR {
	BORDER: 0;
    BACKGROUND-COLOR: #6DA39F;
    WIDTH: 90px;
    HEIGHT: 2px;
}

/** When I need to center a small picture **/
.wraptocenter {
  text-align: center;
}

/** Mobile **/
@media(max-width: 600px) {
    max-width: 100%;
}