/** Header **/
/************/
.hero {
    text-align: center;
    background-color: #6DA39F;
    height: 250px;}
.hero H1 {
	LINE-HEIGHT: 60px;
    BACKGROUND-COLOR: #6DA39F;
    MARGIN-TOP: 90px;
    DISPLAY: inline-block;
    COLOR: #fff;
    FONT-SIZE: 46px}
  
/**Page content**/
/****************/
/* Container (Menu + Content) */
.container {
	MARGIN: 0 auto;
    max-width: 32rem;}
.container HR {
	BORDER: 0;
    BACKGROUND-COLOR: #6DA39F;
    WIDTH: 25%;
    HEIGHT: 2px;}

/* Menu */
.menu {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 50px}
.menu UL {
	PADDING-LEFT: 0px}
.menu UL A {
	PADDING-BOTTOM: 5px 7px 7px 5px;
    font-size: 20px;
    .menu UL A:hover {
	   COLOR: #225A22}
.menu UL LI {
	MARGIN: 0px 7px; DISPLAY: inline}


/* Content */
.post {
    margin-left: 10px;margin-right: 10px;}
.post-list {
	padding-left: 10px;padding-right: 10px;}
.post-list LI {
	LIST-STYLE-TYPE: none;
    MARGIN-BOTTOM: 5px}
.post-list LI DIV {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px}
.post-title {
    font-size: 1.4rem;
    margin-top:3px;
    color:#6DA39F;}
.post-date {
    FONT-FAMILY: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif; FONT-WEIGHT: normal;FONT-SIZE: 13px;
	LINE-HEIGHT: 24px;
    TEXT-TRANSFORM: uppercase;
    FLOAT: right;
    TEXT-ALIGN: right;
    MARGIN-TOP: 19px; MARGIN-LEFT: -190px;}
.post-meta {
  font-size: 14px;
  color: #828282; }
